<article class="col  col__perfil">
    <div><h1 class="tit">Perfil</h1></div>
    <div class="foto__cont">
        <img class="foto__perfil" [src]="Data[0].img">
    </div>
    <div class="cont__info-perfil">
        <div id="contEditPerfil" class="info__perfil">

            <h2 id="colorFontPerfil1">{{Data[0].nombre}}  {{Data[0].apellido}}</h2>
            <h3 id="colorFontPerfil2">{{Data[0].titulo}}</h3>
            <p id="colorFontPerfil3">{{Data[0].descripcion}}</p>
        </div>
    </div>
</article>
<router-outlet></router-outlet>
