.col{
	position: relative;
	height: auto;
	z-index: 301;
}
h1 {
	border-bottom: 2px solid #88b2ff;
	}
.tit{
    color: #08b1b1;
    position: absolute;
    margin-top: -130px;
    font-size: 36px;
    width: 140px;
}
.foto__cont{
	position: absolute;
	margin-left: 40px;
	margin-top: -83px;
	width: 200px;
	height: 200px;
}
.foto__perfil{
	
	border: rgb(89,156,152) 5px solid;
	border-radius: 90%;
	width: 200px;
	height: 200px;
	position: relative;
	z-index: 400;
}
.cont__info-perfil{
	position: relative;
	width: 45vw;
	height: fit-content;
	background: rgb(87,83,82);
	left: 14.3vw;
	margin-top: 90px;
}
.info__perfil{
	width: 42vw;
	height: 346px;
	overflow: auto;
	position: relative;
    display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
	padding-left: 8vw;
    padding-right: 8vw;
}
.info__perfil h2{
	color: rgb(17,254,225);
    font-size: 40px;
}
.info__perfil h3{
	color: rgb(243,243,243);
    font-size: 30px;
}
.info__perfil p {
	color: #000000;
	font-size: 20px;
}

@media only screen and (max-width:837px){

.col{
	position: relative;
	margin-left: 10vw;
}
.foto__cont{
	width: 70vw;
	margin-left: 0px;
	left: 4.3vw;
	text-align: center;
}
.cont__info-perfil{
	margin-top: 150px;
	width:78.3vw ;
	left: auto;
}
#contEditPerfil{
	margin-top: 100px;
	height: 248px;
}
.info__perfil{
	margin-top: 250px;
	padding:15px;
	width:70vw ;
	margin-left: 0px;
	left: auto;
	text-align: center;
	
}

@media only screen and (max-width:460px){
    #contEditPerfil {
        margin-top: 100px;
        height: 394px;
    }
    
}


}
