.col {
	position: relative;

	z-index: 301;
}
.tit {
	color: #08b1b1;
	position: absolute;
	margin-top: -130px;
	font-size: 36px;
	width: 264px;
}
h1 {
	border-bottom: 2px solid #88b2ff;
}
html, body 
{ 
 height: 100%;
 overflow: hidden
}
.tit {
	color: #08b1b1;
	position: absolute;
	margin-top: -53px;
	font-size: 36px;
	width: 264px;
}

.cont__info-utn {
	display: inline-block;
	position: relative;
	width: 55vw;
	height: fit-content;
	background: rgb(88, 83, 83);
	color: #fff;
	margin-top: 15px;
	margin-left: 79px;
	text-align: initial;
	margin-bottom: 29px;
}

.cont__info-utn p {
	color: rgb(23, 214, 195);
	font-size: 26px;
	margin-top: 25px;
	padding-left: 84px;
}

.cont__info-utn h4 {
	padding-top: 30px;
	padding-left: 84px;
	font-size: 26px;
	color: rgb(221, 221, 221);

}

#contEditFormUtn {
	height: 170px;
	overflow-y: auto;
}

.btnAdd {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

@media only screen and (max-width:837px) {
	#tem {
		display: inline-block;
	}

	.formacion {
		text-align: center;
		display: inline-block;
	}
	.cont__info-utn {
		width: 70vw;
		height: fit-content;
		margin-left: 4.3vw;
		margin-top: 150px;
		padding: 20px 13px 0px 13px;
		text-align: center;
		margin-bottom: 60px;
	}

	.cont__info-utn p {
		padding-left: 0px;
	}

	.cont__info-utn h4 {
		padding-left: 0px;
	}

	#contEditFormUtn {
		height: 235px;
	}
}

/************************ BOTONES ******************************/
.edit__F {
	display: block;
	position: absolute;
	border-radius: 90%;
	background: rgba(28, 26, 26);
	outline: rgb(34, 243, 243) 3px solid;
	width: 50px;
	height: 50px;
	top: -30px;
	right: -20px;
	text-align: center;
	z-index: 420;
	float: right;
}

.icon__edit-F {
	width: 25px;
	position: absolute;
	margin-top: 10px;
	margin-left: -10px;

}


@media only screen and (max-width:837px) {
	.edit__F {
		right: 66vw;
	}

	.btnAdd {
		position: relative;
		right: -10px;
	}
}