<nav class="nav" id="nav" >
    <ol class="nav__ol" >
        <li class="nav__li--redes" id="redes" >
            <a href="https://www.linkedin.com/in/rocio-lescano-36412522b/" class="linkedin" ><img href="#" src="./assets/imagenes/logoLinkedin.png"></a>
            <div class="sub__redes">
                <a href="https://github.com/Rociolesc" class="logGem"><img src="./assets/imagenes/logoGithub.png"></a>
                <a href="https://instagram.com/rocio_lescano99?igshid=YmMyMTA2M2Y=s" class="logInsta"><img src="./assets/imagenes/logoInstagram.png"></a>
            </div>
        </li>
        <button class="nav__li--inisioSesion" id="button__sesion" routerLink="/login">
            Inisio 	Sesion
        </button>
    </ol>
</nav>