<app-fondo></app-fondo>
<!---<app-imagen-perfil></app-imagen-perfil>-->
<header>
    <div class="btnCS__Container">
        <div class="btnCS" (click)="logout()">Cerrar Sesion</div>
    </div>
</header>
<div class="inf">
    <h1>* La informacion puede tardar en mostrarse, de ser necesario recargue la pagina</h1>
</div>
<section class="container-lg" class="sec" id="sec">
    <div class="row"id="Perfil">
        <app-edit-perfil></app-edit-perfil>
    </div>
    <div class="row"id="Experiencia">
        <app-edit-experiencia></app-edit-experiencia>
    </div>
    <div class="row" id="Formacion">
        <app-edit-formacion></app-edit-formacion>
    </div >
    <div class="row" id="Habilidades">
        <app-edit-habilidad></app-edit-habilidad>
    </div>
    <div class="row"id="Proyecto" >
        <app-edit-proyecto></app-edit-proyecto>
    </div>
</section>
