html, body {
	height: 100%;
	
  }
  img{
	border-style: none;
	max-width: 100%;
	}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
  
  
  .firefly {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 0.4vw;
	height: 0.4vw;
	margin: -0.2vw 0 0 9.8vw;
	animation: ease 200s alternate infinite;
	pointer-events: none;
	
  }
  .firefly::before, .firefly::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform-origin: -10vw;
  }
  .firefly::before {
	background: black;
	opacity: 0.4;
	animation: drift ease alternate infinite;
  }
  .firefly::after {
	background: white;
	opacity: 0;
	box-shadow: 0 0 0vw 0vw #fff;
	animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
	animation-name: move1;
  }
  .firefly:nth-child(1)::before {
	animation-duration: 11s;
  }
  .firefly:nth-child(1)::after {
	animation-duration: 11s, 7695ms;
	animation-delay: 0ms, 3123ms;
  }
  
  @keyframes move11 {
	0% {
	  transform: translateX(45vw) translateY(21vh) scale(0.65);
	}
	4% {
	  transform: translateX(48vw) translateY(-27vh) scale(0.77);
	}
	8% {
	  transform: translateX(5vw) translateY(-6vh) scale(0.68);
	}
	12% {
	  transform: translateX(34vw) translateY(5vh) scale(0.98);
	}
	16% {
	  transform: translateX(-33vw) translateY(-49vh) scale(0.54);
	}
	20% {
	  transform: translateX(8vw) translateY(-30vh) scale(0.62);
	}
	24% {
	  transform: translateX(-24vw) translateY(-37vh) scale(0.55);
	}
	28% {
	  transform: translateX(-5vw) translateY(40vh) scale(0.72);
	}
	32% {
	  transform: translateX(-32vw) translateY(-14vh) scale(0.63);
	}
	36% {
	  transform: translateX(-28vw) translateY(27vh) scale(0.64);
	}
	40% {
	  transform: translateX(5vw) translateY(-24vh) scale(0.79);
	}
	44% {
	  transform: translateX(8vw) translateY(-11vh) scale(0.97);
	}
	48% {
	  transform: translateX(41vw) translateY(33vh) scale(0.88);
	}
	52% {
	  transform: translateX(-49vw) translateY(-42vh) scale(0.33);
	}
	56% {
	  transform: translateX(0vw) translateY(-48vh) scale(0.32);
	}
	60% {
	  transform: translateX(-8vw) translateY(-23vh) scale(0.32);
	}
	64% {
	  transform: translateX(37vw) translateY(39vh) scale(0.26);
	}
	68% {
	  transform: translateX(-9vw) translateY(42vh) scale(0.45);
	}
	72% {
	  transform: translateX(24vw) translateY(22vh) scale(0.5);
	}
	76% {
	  transform: translateX(46vw) translateY(-32vh) scale(0.31);
	}
	80% {
	  transform: translateX(-17vw) translateY(-30vh) scale(0.67);
	}
	84% {
	  transform: translateX(2vw) translateY(4vh) scale(0.3);
	}
	88% {
	  transform: translateX(-3vw) translateY(44vh) scale(0.78);
	}
	92% {
	  transform: translateX(-5vw) translateY(-17vh) scale(0.45);
	}
	96% {
	  transform: translateX(11vw) translateY(19vh) scale(0.96);
	}
	100% {
	  transform: translateX(-31vw) translateY(43vh) scale(0.28);
	}
  }
 
  @keyframes drift {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  @keyframes flash {
	0%, 30%, 100% {
	  opacity: 0;
	  box-shadow: 0 0 0vw 0vw #fff;
	}
	5% {
	  opacity: 1;
	  box-shadow: 0 0 2vw 0.4vw rgba(16, 255, 226, 1);
	}
  }